/* For devices larger than 550px */
@media (min-width: 1000px) {
  .container {
  width: 1000px; }
  .column,
  .columns {
  margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
  margin-left: 0; }
